body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.primeiro-titulo {
color: aliceblue;
text-align: center
}

.primeiro-texto {
    color: aliceblue;
    text-align: center;
    font-size: 0.5cm

    
}

.segundo-texto {
color: aliceblue; 
text-align: center;
font-size: 0.5cm;   
}


button {
text-align: center;
color: rgb(1, 0, 5);
margin-left: 19cm;
margin-top: 0.5cm;
}



#imagem {
    margin-left: 16cm;
    margin-top: 1.1cm;
}